<!-- <p>user-data works!</p> -->
<div [routerLink]="[user.id]">
  <div>Name: <span> {{user.name}} </span></div>
  <div>Email: <span> {{user.email}} </span></div>
  <div>Phone: <span> {{user.phone}} </span></div>
  <div>
    <div>Address</div>
    <div>City: {{ user.address.city }}</div>
    <div>Street: {{ user.address.street }}</div>
    <div>Zip Code: {{ user.address.zipcode }}</div>
  </div>
</div>
